@model IEnumerable<ClassDrive.Models.SubmitModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmitName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmitDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmitTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmitScore)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmitName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmitDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmitTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmitScore)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SubmitID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SubmitID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SubmitID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
